<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Download</title>
</head>
<body>
    <form action="{{ url_for('download_image') }}" method="GET" enctype="multipart/form-data">
        <input type="number" name="x" min="0" max="100" placeholder="x">
        <input type="number" name="y" min="0" max="100" placeholder="y">
       <button type="submit">Скачать готовое изображение</button>
    </form>
</body>
</html>